.page__footer {
    margin-top: 0;
    background-color: #000;
}

.page__footer-copyright {
    color: aliceblue;
}

.page__footer-copyright a {
    color: #4a94e4;
}

.page__footer-follow a {
    color: #4a94e4;
}